<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../static/style/Carrito.css">
</head>
<body>
    <header>
        <div class="logo">MyStore</div>
        <nav>
            <a href="home.html">Inicio</a>
            <a href="Productos.html">Productos</a>
            <a href="HistorialCompras.html">Historial</a>
        </nav>
    </header>
    <section class="cart">
        <h1>Carrito de Compras</h1>
      
            </div>
            <div class="cart-item">
                <img src="../static/images/hogar.png" alt="Producto">
                <div class="details">
                    <h2>Camara de vigilacncia</h2>
                    <p>Precio: $99.99</p>
                    <p>Cantidad: 
                        <input type="number" value="1" min="1">
                    </p>
                    <button class="btn-buy">Eliminar</button>
                </div>
            </div>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non officia quasi dolore nam! Repellat sed optio unde cupiditate rerum fuga expedita laboriosam numquam quis! At, fuga. Dolor repellendus autem nostrum.</p>
            <br>
            <input type="checkbox" id="Política"  name="terminos" value="Política">
            <label for="Política"><b>Acepto los terminos de compras en My Sotre</b></label>
            <div class="cart-summary">
                <h3>Total: $99.98</h3>
                <button class="btn-buy">Pagar</button>
            </div>
            
        </div>
    </section>
    <br>
    <footer>
        <p>&copy; 2024 MyStore - Todos los derechos reservados</p>
        <div class="footer-links">
            <a href="#">Política de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>
</body>
</html>
