<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas Gaseosas</title>
    <link rel="stylesheet" href="../static/style/home.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            Bebidas Gaseosas
        </div>
        <div class="search-container">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas y más..." aria-label="Buscar productos">
                <button class="search-button" type="button" aria-label="Iniciar búsqueda">
                    Buscar
                </button>
            </div>
        </div>
        <nav>
            <a href="home.html" class="active">Inicio</a>
            
            <a href="Productos.html" >Productos</a>
            <a href="#">Devoluciones</a>
        </nav>
        
        <div class="actions">
            <a href="./Login.html" class="btn-link">
                <button class="login">Iniciar sesión</button>
            </a>
            <a href="./Register.html" class="btn-link">
                <button class="signup">Registrarse</button>
            </a>
            
        </div>
    </header>

    <!-- Carousel Section -->
    
        <div class="background-container">
            <div class="content">
                <p>Encuentre aqui el producto que busca<br>
                    bebidas deliciosas
                    <br> Y a buen precio</p>
            </div>
        </div>
    


    <!-- Featured Products -->
    <section class="products">
        <h2>Productos Destacados</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="../static/images/cocaCola.jpeg" alt="Laptop Gamer">
                <h3> Coca-Cola 600ml</h3>
                <p>$1.50</p>
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="product-card">
                <img src="../static/images/pepsi.jpeg" alt="Teclado RGB">
                <h3>Pepsi 600ml</h3>
                <p>$1,45</p>
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="product-card">
                <img src="../static/images/mineral.jpg" alt="Monitor UltraWide">
                <h3>Agua Mineral</h3>
                <p>$1,0</p>
                <button class="btn-buy">Comprar</button>
            </div>
        </div>
    </section>

  

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 CompraYa - Todos los derechos reservados</p>
        <div class="footer-links">
            <a href="#">Política de privacidad</a>
            <a href="#">Condiciones</a>
            <a href="#">Contacto y ubicaciones</a>
        </div>
    </footer>
    <script src="../static/js/home.js"></script>

</body>
</html>
